{% extends '/admin/admin.html' %}

{% block sear %}
<form class="navbar-search pull-left" action="{{ url_for('admin.user_search') }}" method="get">
    <input type="text" name="keywords" class="search-query span2" placeholder="Search" />
</form>
{% endblock %}



{% block con %}

<div class="span9">
    <h1>
        用户列表
    </h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>用户编号</th>
                <th>用户名</th>
                <th>手机号</th>
                <th>发布博文数量 </th>
                <th>评论次数</th>
                <th>状态</th>
                <th>注册时间</th>
                <th>查看</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for v in users.items %}
            <tr>
                <td>{{ v.id }}</td>
                <td>{{ v.name }}</td>
                <td>{{ v.phone }}</td>
                <td>{{ v.posts|length }}</td>
                <td>{{ v.comments|length }}</td>
                <td>
                    <select name="status" uid="{{ v.id }}" style="width: 100px;">
                        <option value="0" {% if v.status == 0 %} selected  {% endif %}>正常</option>
                        <option value="1" {% if v.status == 1 %} selected  {% endif %}>禁用</option>
                    </select>
                </td>
                    
                <td>{{ v.addtime }}</td>
                <td>
                    <a href="{{ url_for('home.userblogs',id=v.id)}}" class="view-link">查看ta的博客</a>
                </td>
                <td>
                    <a href="" uid='{{ v.id }}' style="color:#333" class="del">删除</a>
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>                
    <div class="pagination">
        <ul>
            <li class="first">
                <a href="#">首页</a>
            </li>

            <li class="pre">
                <a href="#">«</a>
            </li>

            {% for v in users.iter_pages() %}

            <li {% if v == request.args.get('p',1)|int %} class="active" {% endif %}>
                <a href="{% if v %} ?p={{ v }} {% else %} javascript:void(0) {% endif %}" class="current">{{ v|d('...',true) }}</a>
            </li>
            {% endfor %}
            
            <li class="next">
                <a href="#">»</a>
            </li>

            <li class="fina">
                <a href="#">尾页</a>
            </li>
        </ul>
    </div>
</div>



{% endblock %}

{% block js %}
<script type="text/javascript">
    // 修改状态
    $('select[name=status]').change(function(){
        var v = $(this).val()
        var uid = $(this).attr('uid')
        // 发送ajax
        $.get('{{ url_for("admin.useredit") }}',{'status':v,'uid':uid},function(res){
            if(res['error']==1){
                alert(res['msg']);
            }
        })
    })

    // 给删除按钮绑定单击事件
    $('.del').click(function(){
        // 获取当前的id
        var uid = $(this).attr('uid')
        // 此处$this是获取对象,赋值给一个变量,来供ajax 的回调函数中使用
        var td = $(this)
        // 发送ajax 请求
        $.get("{{ url_for('admin.userdelete') }}",{'uid':uid},function(data){
            if(data['error'] == 1){
                //如果删除成功,则移除当前的整个tr 数据
                td.parents('tr').remove()
                // $(this).parents('tr').remove() # XX 
                // $(this)  此处this 代表是ajax对象 XMLHttpRequest 对象
            }
            // 弹出提示信息
            alert(data['msg'])
        })
    })

    // 给 next 绑定 单机事件 获取 下一页 的页数
    $('ul .next').click(function(){
        // 获取当前的页码数 
        // currentpage = $(this).parents('li').find('a #page').val();
        var num = {{ request.args.get('p',1) }};
        $('.pagination ul li').eq(num+2).find('.current').append('<span></span>');
        $('.pagination ul li').eq(num+2).find('.current span').click();
    })
    // 给 pre 绑定 单机事件 获取 上一页 的页数
    $('ul .pre').click(function(){
        // 获取当前的页码数 
        // currentpage = $(this).parents('li').find('a #page').val();
        var num = {{ request.args.get('p',1) }};
        $('.pagination ul li').eq(num).find('.current').append('<span></span>');
        $('.pagination ul li').eq(num).find('.current span').click();
    })
    // 首页
    $('ul .first').click(function(){
        // var num = 1;
        // alert(num)
        $('.pagination ul li').eq(2).find('.current').append('<span></span>');
        $('.pagination ul li').eq(2).find('.current span').click();
    })
    // 尾页
    $('ul .fina').click(function(){
        var num = {{ b }};
        // alert(num)
        $('.pagination ul li').eq(num+1).find('.current').append('<span></span>');
        $('.pagination ul li').eq(num+1).find('.current span').click();
    })

</script>
{% endblock %}