<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>BLOG index with sidebar & slider | Amaze UI Examples</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/static/home/i/favicon.png">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="/static/home/i/app-icon72x72@2x.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Amaze UI" />
        <link rel="apple-touch-icon-precomposed" href="/static/home/i/app-icon72x72@2x.png">
        <meta name="msapplication-TileImage" content="/static/home/i/app-icon72x72@2x.png">
        <meta name="msapplication-TileColor" content="#0e90d2">
        <link rel="stylesheet" href="/static/home/css/amazeui.min.css">
        <link rel="stylesheet" href="/static/home/css/app.css">
        <script src="/static/home/js/jquery.min.js"></script>
        <script src="/static/home/js/amazeui.min.js"></script>

    </head>
    <body id="blog">
        <header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
            <div class="am-u-sm-8 am-u-sm-centered">
                <img width="200" src="/static/home/images/timg2.jpg" alt="Amaze UI Logo" />
                <h2 class="am-hide-sm-only">程序媛 ❀ 博客园 ❀ 桃花源 </h2>
            </div>
        </header>
        <hr>
        <!-- nav start -->
        <nav class="am-g am-g-fixed blog-fixed blog-nav">
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}">
                <span class="am-sr-only">导航切换</span>
                <span class="am-icon-bars"></span>
            </button>
            <div class="am-collapse am-topbar-collapse" id="blog-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li class="am-dropdown" data-am-dropdown>
                        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">首页布局
                            <span class="am-icon-caret-down"></span>
                        </a>
                        <ul class="am-dropdown-content">
                            <li>
                                <a href="/">首页</a>
                            </li>
                            
                        </ul>
                    </li>
                    {% if session.get('VipUser') %}
                    {% block head%}
                    <li class="am-active">
                        <a href="/">首页</a>
                    </li>
                    <li><a href="{{ url_for('home.member') }}">个人中心</a></li>
                    <li><a href="{{ url_for('home.createblog') }}">博文发布</a></li>
                    {% endblock %}

                    <li><a>
                        {% if session['VipUser'] %}
                            錵❀博客园 &nbsp;&nbsp;
                            欢迎您:{{ session['VipUser']['username'] }}
                        
                        {% endif %}
                        </a>
                    </li>

                    <li><a href="{{ url_for('home.logout') }}">退出登录</a></li>

                    {% else %}

                    <li>
                        <a href="{{ url_for('home.register') }}">注册</a>
                    </li>
                    <li>
                        <a href="{{ url_for('home.login') }}">登录</a>
                    </li>
                    {% endif %}
                </ul>
                <form action="{{ url_for('home.search') }}" class="am-topbar-form am-topbar-right am-form-inline" role="search">
                    <div class="am-form-group">
                        <input type="text" name="keywords" class="am-form-field am-input-sm" placeholder="搜索">
                        <button type="submit" class="am-btn am-btn-default am-btn-sm" style="background:white;border:none;"><i class="am-icon-search am-icon-sm am-icon-fw"></i></button>
                    </div>
                </form>
            </div>
        </nav>
        <hr>
        <!-- nav end -->
        <!-- banner start -->
        {% block banner %}
        {% endblock %}
        <!-- banner end -->
        <!-- content srart -->
        <div class="am-g am-g-fixed blog-fixed">
            {% block conleft %}
            <div class="am-u-md-8 am-u-sm-12">
                <article class="am-g blog-entry-article">
                    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                        <img src="/static/home/i/f10.jpg" alt="" class="am-u-sm-12">
                    </div>
                    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                        <span>
                            <a href="" class="blog-color">article &nbsp;</a></span>
                        <span>@amazeUI &nbsp;</span>
                        <span>2015/10/9</span>
                        <h1>
                            <a href="">我本楚狂人，凤歌笑孔丘</a></h1>
                        <p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。</p>
                        <p>
                            <a href="" class="blog-continue">continue reading</a>
                        </p>
                    </div>
                </article>
                <ul class="am-pagination">
                    <li class="am-pagination-prev">
                        <a href="">&laquo; Prev</a>
                    </li>
                    <li class="am-pagination-next">
                        <a href="">Next &raquo;</a>
                    </li>
                </ul>
            </div>
            {% endblock %}

            {% block conright %}

            <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
                <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
                    <h2 class="blog-title">
                        <span>TAG cloud</span>
                    </h2>
                    <div class="am-u-sm-12 blog-clear-padding">
                        {% for v in 'a'|gettagsall %}
                            <a href="{{ url_for('home.tagsblogs',tid=v.id)}}" class="blog-tag">{{ v }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>

        
        <!-- content end -->
        <footer class="blog-footer">
            <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
                <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
                    <h3>模板简介</h3>
                    <p class="am-text-sm">这是一个使用amazeUI做的简单的前端模板。
                        <br>博客/ 资讯类 前端模板
                        <br>支持响应式，多种布局，包括主页、文章页、媒体页、分类页等
                        <br>嗯嗯嗯，不知道说啥了。外面的世界真精彩
                        <br>
                        <br>Amaze UI 使用 MIT 许可证发布，用户可以自由使用、复制、修改、合并、出版发行、散布、再授权及贩售 Amaze UI 及其副本。</p></div>
                <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
                    <h3>社交账号</h3>
                    <p>
                        <a href="javascript:;">
                            <span class="am-icon-qq am-icon-fw am-primary blog-icon blog-icon"></span>
                        </a>
                        <a href="javascript:;">
                            <span class="am-icon-github am-icon-fw blog-icon blog-icon"></span>
                        </a>
                        <a href="javascript:;">
                            <span class="am-icon-weibo am-icon-fw blog-icon blog-icon"></span>
                        </a>
                        <a href="javascript:;">
                            <span class="am-icon-reddit am-icon-fw blog-icon blog-icon"></span>
                        </a>
                        <a href="javascript:;">
                            <span class="am-icon-weixin am-icon-fw blog-icon blog-icon"></span>
                        </a>
                    </p>
                    <h3>Credits</h3>
                    <p>我们追求卓越，然时间、经验、能力有限。Amaze UI 有很多不足的地方，希望大家包容、不吝赐教，给我们提意见、建议。感谢你们！</p>
                </div>
                <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
                    <h1>我们站在巨人的肩膀上</h1>
                    <h3>Heroes</h3>
                    <p>
                        <ul>
                            <li>jQuery</li>
                            <li>Zepto.js</li>
                            <li>Seajs</li>
                            <li>LESS</li>
                            <li>...</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="blog-text-center">© 2018 AllMobilize, Inc. Licensed under MIT license. Made with love By LWXYFER</div>
        </footer>
        <!--[if (gte IE 9)|!(IE)]>
            <!-->
        <!--<![endif]-->
        <!--[if lte IE 8 ]>
            <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
            <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
            <script src="/static/home/js/amazeui.ie8polyfill.min.js"></script>
        <![endif]-->
    </body>
</html>